<h2>Bekanntgabe bearbeiten</h2>

<%= render "form.html", Map.put(assigns, :action, cms_announcement_path(@conn, :update, @announcement)) %>

<span><%= link "Abbrechen", to: cms_announcement_path(@conn, :index) %></span>
