<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, etwas ist schiefgelaufen. Guck dir bitte die Fehler unten an.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :title, "Titel", class: "control-label" %>
    <%= text_input f, :title, class: "form-control" %>
    <%= error_tag f, :title %>
  </div>

  <div class="form-group">
    <%= label f, :body, "Volltext", class: "control-label" %>
    <%= textarea f, :body, class: "form-control" %>
    <%= error_tag f, :body %>
  </div>

  <div class="form-group">
    <%= label f, :summary, "Zusammenfassung", class: "control-label" %>
    <%= textarea f, :summary, class: "form-control" %>
    <%= error_tag f, :summary %>
  </div>

  <div class="form-group">
    <%= label f, :committee_id, "Komitee", class: "control-label" %>
    <%= select f, :committee_id, user_committees_for_select(@conn), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Speichern", class: "btn btn-primary" %>
  </div>
<% end %>
