<h2>Alle Bekanntmachungen</h2>

<%= for announcement <- @announcements do %>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= announcement.title %></h4>
      <h6 class="card-subtitle mb-2 text-muted"><%= announcement.committee.name %></h6>
      <p class="card-text"><%= announcement.summary %></p>

      <%= link "Lesen", to: cms_announcement_path(@conn, :show, announcement), class: "card-link" %>
    </div>
  </div>
  <br/>
<% end %>

<br/>

<span><%= link "Bekanntmachung erstellen", to: cms_announcement_path(@conn, :new), class: "btn btn-primary" %></span>
