<h2>Bekanntgabe erstellen</h2>

<%= render "form.html", Map.put(assigns, :action, cms_announcement_path(@conn, :create)) %>

<span><%= link "Abbrechen", to: cms_announcement_path(@conn, :index) %></span>
