<h2><%= @announcement.title %></h2>
<h4 class="text-muted"><%= @announcement.committee.name %></h4>

<%= @announcement.body |> html_escape() |> safe_to_string() |> String.replace("\n", "<br>") |> raw %>

<hr/>

<%= if can_edit_committee?(@conn, @announcement.committee) do %>
  <span><%= link "Bearbeiten", to: cms_announcement_path(@conn, :edit, @announcement) %></span> <br/>
  <span><%= link "Löschen", to: cms_announcement_path(@conn, :delete, @announcement), method: :delete, data: [confirm: "Sicher?"], class: "text-danger" %></span> <br/>
  <hr/>
<% end %>

<span><%= link "Zurück zur Übersicht", to: cms_announcement_path(@conn, :index) %></span>
