
<%= unless logged_in(@conn) do %>
  <h1>Anmelden</h1>

  <%= form_for @conn, session_path(@conn, :create), [method: :post, as: :user], fn f -> %>
    <div class="form-group">
      <%= text_input f, :username, placeholder: "Nutzername", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= password_input f, :password, placeholder: "Passwort", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= submit "Anmelden", class: "btn btn-primary" %>
    </div>
  <% end %>

<% else %>

  <h1>Abmelden</h1>

  <%= form_for @conn, session_path(@conn, :delete), [method: :delete, as: :user], fn _ -> %>
    <div class="form-group">
      <%= submit "Abmelden", class: "btn btn-primary" %>
    </div>
  <% end %>

<% end %>
