<h2>Abstimmung bearbeiten</h2>

<%= render "form.html", Map.put(assigns, :action, cms_poll_path(@conn, :update, @poll)) |> Map.put(:new, false) %>

<span><%= link "Back", to: cms_poll_path(@conn, :index) %></span>
