<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Ups, etwas ist schiefgelaufen bitte schau dir die Fehler an.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, "Name", class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :description, "Beschreibung", class: "control-label" %>
    <%= text_input f, :description, class: "form-control" %>
    <%= error_tag f, :description %>
  </div>

  <%= if @new do %>

  <div class="form-group">
    <%= label f, :options, "Optionen", class: "control-label" %>
    <%= textarea f, :options, class: "form-control" %>
    <%= error_tag f, :options %>
    <small>Bitte eine Option pro Zeile eingaben. Die Anzahl der Optionen ist unbegrenzt.</small>
    <small class="form-text text-muted">Die Optionen können nach der Erstellung nicht mehr bearbeitet werden.</small>
  </div>

  <% else %>

    <div>
      Die Optionen können nicht mehr bearbeitet werden.
    </div>
    <br/>

  <% end %>

  <div class="form-group">
    <%= label f, :end_date, "Abstimmungsende", class: "control-label" %>
    <%= datetime_select f, :end_date, class: "form-control" %>
    <%= error_tag f, :end_date %>
  </div>

  <div class="form-group">
    <%= label f, :committee_id, "Komitee", class: "control-label" %>
    <%= select f, :committee_id, user_committees_for_select(@conn), class: "form-control" %>
  </div>


  <div class="form-group">
    <%= submit "Speichern", class: "btn btn-primary" %>
  </div>
<% end %>
