<h2>Alle Abstimmungen</h2>

<%= for {poll, voted} <- @polls do %>
  <div class="card">
    <%= if Committees.CMS.Poll.has_poll_ended?(poll) do %>
        <div class="card-header">
          Die Abstimmung ist vorbei.
        </div>
    <% else %>
      <%= if not voted do %>
        <div class="card-header">
          Du hast noch nicht abgestimmt.
        </div>
      <% end %>
    <% end %>

    <div class="card-body">
      <h4 class="card-title"><%= poll.name %></h4>
      <h6 class="card-subtitle mb-2 text-muted"><%= poll.committee.name %></h6>
      <p class="card-text"><%= String.slice(poll.description, 0..100) %></p>

      <%= link "Ansehen", to: cms_poll_path(@conn, :show, poll), class: "card-link" %>
    </div>
  </div>
  <br/>
<% end %>

<span><%= link "Umfrage erstellen", to: cms_poll_path(@conn, :new), class: "btn btn-primary" %></span>
