<h2>Abstimmung erstellen</h2>

<%= render "form.html", Map.put(assigns, :action, cms_poll_path(@conn, :create)) |> Map.put(:new, true) %>

<span><%= link "Abbrechen", to: cms_poll_path(@conn, :index) %></span>
