<h1>Abstimmungen Übersicht</h1>

<table width="100%" border>
  <thead>
    <tr>
      <th>Abstimmung</th>
      <th>erster Platz</th>
      <th>zweiter Platz</th>
      <th>dritter Platz</th>
    </tr>
  </thead>
  <%= for poll <- @polls do %>
    <tr>
      <td><%= poll.name %></td>
      <td><%= Committees.CMS.Poll.winner_list(poll) |> List.first %>

      <td><%= Committees.CMS.Poll.winner_list(poll) |> Enum.at(1) %>
      <td><%= Committees.CMS.Poll.winner_list(poll) |> Enum.at(2) %>
    </tr>
  <% end %>
</table>
