<h2><%= @poll.name %></h2>
<p class="lead">
  <%= raw @poll.description %>
</p>
<p>
  <strong>Abstimmungsende: </strong>
  <%= @poll.end_date %>
</p>

<h4>Abstimmen</h4>
<%= if Committees.CMS.Poll.has_poll_ended?(@poll) do %>

  Die Abstimmung ist vorbei. Falls diese Abstimmung für die Abizeitung ausgewählt wird, kannst du sie dort sehen.

  <%= if can_edit_committee?(@conn, @poll.committee) do %>
    <ol>
      <%= for {name, _id, votes} <- Committees.CMS.Poll.options_and_votes(@poll) do %>
        <li>
          <strong><%= name %>:</strong>
          <%= votes %> Stimme(n)
        </li>
      <% end %>
    </ol>
  <% end %>

<% else %>

  <%= if has_user_voted?(@conn, @poll.id) do %>
    <p>
      Du hast bereits abgestimmt. Du kannst deine Stimme weder ändern noch zurückziehen.
    </p>
  <% else %>
    <%= form_for @conn, cms_poll_path(@conn, :cast_vote, @poll.id), [method: :post, as: :vote], fn f -> %>
      <div class="form-group">
        <%= label f, :option_id, "Deine Meinung", class: "control-label" %>
        <%= select f, :option_id, select_options(@poll), class: "control-label" %>
      </div>

      <div class="form-group">
        <%= submit "Abschicken", class: "btn btn-primary" %>
        <p class="text-muted">
          Achtung: Du kannst deine Stimme weder ändern noch zurückziehen.
        </p>
      </div>
    <% end %>
  <% end %>

  <%= if can_edit_committee?(@conn, @poll.committee) do %>
    <h4>Zwischenergebnisse</h4>
    <ol>
      <%= for {name, _id, votes} <- Committees.CMS.Poll.options_and_votes(@poll) do %>
        <li>
          <strong><%= name %>:</strong>
          <%= votes %> Stimme(n)
        </li>
      <% end %>
    </ol>
  <% end %>

<% end %>

<hr/>

<%= if can_edit_committee?(@conn, @poll.committee) do %>
  <span><%= link "Bearbeiten", to: cms_poll_path(@conn, :edit, @poll) %></span> <br/>
  <span><%= link "Löschen", to: cms_poll_path(@conn, :delete, @poll), method: :delete, data: [confirm: "Sicher?"], class: "text-danger" %></span> <br/>
  <hr/>
<% end %>

<span><%= link "Zurück zur Übersicht", to: cms_poll_path(@conn, :index) %></span>
