<h2>Komitee bearbeiten</h2>

<%= render "form.html", Map.put(assigns, :action, cms_committee_path(@conn, :update, @committee)) %>

<span><%= link "Abbrechen", to: cms_committee_path(@conn, :index) %></span>
