<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :shortname, "Kurzname", class: "control-label" %>
    <%= text_input f, :shortname, class: "form-control" %>
    <%= error_tag f, :shortname %>
  </div>

  <div class="form-group">
    <%= submit "Speichern", class: "btn btn-primary" %>
  </div>
<% end %>
