<h2>Alle Komitees</h2>

<%= for committee <- @committees do %>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= committee.name %></h4>
      <h6 class="card-subtitle mb-2 text-muted"><%= committee.shortname %></h6>

      <%= link "Anzeigen", to: cms_committee_path(@conn, :show, committee), class: "btn btn-primary" %>

      <%= if @conn.assigns[:current_user].role == "admin" do %>
        <span><%= link "Bearbeiten", to: cms_committee_path(@conn, :edit, committee), class: "btn btn-secondary" %></span>
        <span><%= link "Löschen", to: cms_committee_path(@conn, :delete, committee), method: :delete, data: [confirm: "Sicher?"], class: "btn btn-danger" %></span>
      <% end %>
    </div>
  </div>
  <br/>
<% end %>

<%= if @conn.assigns[:current_user].role == "admin" do %>
  <span><%= link "Komitee erstellen", to: cms_committee_path(@conn, :new), class: "btn btn-primary" %></span>
<% end %>
