<h1><%= @committee.name %></H1>
<h2>Nutzer in Komitee einschreiben</h2>
<%= form_for @conn, cms_committee_path(@conn, :create_user, @committee), [as: :user], fn f -> %>

  <div class="form-group">
    <%= select f, :user_id, @users, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Einschreiben", class: "btn btn-primary" %>
  </div>

<% end %>
