<h2><%= @committee.name %></h2>

<hr/>

<h3>Bekanntmachungen</h3>
<%= if length(@committee.announcements) > 0 do %>
  <ul>
    <%= for announcement <- @committee.announcements do %>
      <li>
        <h4>
          <%= link announcement.title, to: cms_announcement_path(@conn, :show, announcement.id) %>
        </h4>
        <p>
          <%= announcement.summary %>
        </p>
      </li>
    <% end %>
  </ul>

<% else %>
<p>
  Das Komitee hat noch keine Bekanntmachungen gemacht.
</p>
<% end %>

<hr/>

<h3>Abstimmungen</h3>
<%= if length(@committee.polls) > 0 do %>
  <ul>
    <%= for poll <- @committee.polls do %>
      <li>
        <h4>
          <%= link poll.name, to: cms_poll_path(@conn, :show, poll.id) %>
        </h4>
        <p>
          <%= poll.description %>
        </p>
      </li>
    <% end %>
  </ul>

<% else %>
<p>
  Das Komitee hat noch keine Abstimmungen gestartet.
</p>
<% end %>

<hr/>

<h3>Mitglieder</h3>
<ul>
  <%= for user <- @committee.users do %>
    <li>
      <%= user.name %>
      <%= if @conn.assigns[:current_user].role == "admin" do %>
        <span><%= link "Entfernen", to: cms_committee_path(@conn, :remove_user, @committee.id, user.id), method: :delete, class: "btn btn-link btn-sm text-danger" %></span>
        <br/>
      <% end %>
    </li>


  <% end %>

</ul>

<%= if @conn.assigns[:current_user].role == "admin" do %>
  <hr/>
  <span><%= link "Info bearbeiten", to: cms_committee_path(@conn, :edit, @committee) %></span> <br/>
  <span><%= link "Nutzer einschreiben", to: cms_committee_path(@conn, :new_user, @committee) %></span> <br/>
  <span><%= link "Löschen", to: cms_committee_path(@conn, :delete, @committee), method: :delete, data: [confirm: "Sicher?"], class: "text-danger" %></span> <br/>
  <hr/>
<% end %>

<span><%= link "Zurück zur Übersicht", to: cms_committee_path(@conn, :index) %></span>
