<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Abi-Komitees des CJD Rostock</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link "Abi'18", to: page_path(@conn, :index), class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto" style="margin-top: 0">
            <li class="nav-item">
              <%= link "Komitees", to: cms_committee_path(@conn, :index), class: "nav-link"%>
            </li>

            <li class="nav-item">
              <%= link "Bekanntmachungen", to: cms_announcement_path(@conn, :index), class: "nav-link"%>
            </li>

            <li class="nav-item">
              <%= link "Abstimmungen", to: cms_poll_path(@conn, :index), class: "nav-link"%>
            </li>
          </ul>

          <span class="navbar-text">
            <%= if @conn.assigns[:current_user] do %>
              <%= link "Abmelden", to: session_path(@conn, :delete), method: :delete, class: "nav-link" %>
            <% else %>
              <a href="<%= session_path(@conn, :new) %>" class="nav-link">Anmelden</a>
            <% end %>
          </span>
        </div>
      </nav>



      <br/>


      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
