<div class="jumbotron">
  <h2><%= gettext "Wilkommen bei den Abi-Komitees!", name: "Phoenix" %></h2>
  <p class="lead">Hier kannst du bei Abstimmungen abstimmen, Produkte bestellen und Bekanntmachungen lesen.</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Links</h4>
    <ul>
      <li>
        <%= link "Alle Komitees", to: cms_committee_path(@conn, :index) %>
      </li>
      <li>
        <%= link "Alle Bekanntmachungen", to: cms_announcement_path(@conn, :index) %>
      </li>
      <li>
        <%= link "Alle Abstimmungen", to: cms_poll_path(@conn, :index) %>
      </li>
      <li>
        <%= link "Eigenes Profil bearbeiten", to: user_path(@conn, :edit_self) %>
      </li>
    </ul>
  </div>

<%= if @conn.assigns[:current_user] && @conn.assigns[:current_user].role == "admin" do %>
  <div class="col-lg-6">
    <h4>Admin-Kram</h4>
    <ul>
      <li>
        <%= link "Nutzer bearbeiten", to: user_path(@conn, :index)  %>
      </li>
      <li>
        <%= link "Abstimmungen-Übersicht", to: cms_poll_path(@conn, :overview)  %>
      </li>
    </ul>
  </div>
</div>
<% end %>
