<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :username, class: "control-label" %>
    <%= text_input f, :username, class: "form-control" %>
    <%= error_tag f, :username %>
  </div>

  <div class="form-group">
    <%= label f, :password, "Passwort", class: "control-label" %>
    <%= text_input f, :password, class: "form-control", type: "password" %>
    <%= error_tag f, :password %>
    <small class="form-text text-muted">Passwort-Feld leer lassen um das Passwort nicht zu ändern.</small>
  </div>

  <%= if @conn.assigns[:current_user] && @conn.assigns[:current_user].role == "admin" do %>
    <div class="form-group">
      <%= label f, :role, "Rolle", class: "control-label" %>
      <%= select f, :role, [{"Nutzer", nil}, {"Admin", "admin"}] %>
    </div>
  <% end %>

  <div class="form-group">
    <%= submit "Speichern", class: "btn btn-primary" %>
  </div>
<% end %>
