<h2>Nutzer-Detailansicht</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Nutzername:</strong>
    <%= @user.username %>
  </li>

  <li>
    <strong>Rolle:</strong>
    <%= if @user.role == "admin" do %>
      Admin
    <% else %>
      Nutzer
    <% end %>
  </li>
</ul>

<span><%= link "Bearbeiten", to: user_path(@conn, :edit, @user) %></span> <br/>
<span><%= link "Zurück", to: user_path(@conn, :index) %></span>
